data/database-table/table_embeddings.json filter=lfs diff=lfs merge=lfs -text
data/database-table/columns_emb.json filter=lfs diff=lfs merge=lfs -text
data/database-table/columns_description.json filter=lfs diff=lfs merge=lfs -text
